.inicio-texto {
    font-size: 1.2em;
    margin-left: 3em;
    display: inline-block;
}

.inicio-texto__eslogan {
    font-size: 1.7em;
}
.inicio-texto__nombre {
    font-size: 7em;
    background-color: #0afafa;
    color: #1505f5;
    border-radius: 0.1em;
    font-family: 'Kdam Thmor Pro', sans-serif;
    line-height: 1.2;
    padding: 0.1em;
    text-align: center;
}

.logo-xap {
    display: inline-block;
}

.logo-xap__foto {
    height: 20em;
    width: 30em;
    padding-left: 10em;
    padding-right: 1em;
}

.navegacion {
    display: block;
    margin: 1.3em;
    padding: 1.3em;
    background-color: #8eb5bf;
}

.navegacion__tienda {
    background-color: #8adba0;    
    border-radius: 0.5em;
    border: 0.3em groove #35f505;
    padding: 0.5em;
    color: #FF0000;
    text-align: center;
}

.navegacion__ayuda {
    background-color: #8adba0;
    border-radius: 0.5em;
    border: 0.3em groove #35f505;
    padding: 0.5em;
    color: #FF0000;
    text-align: center;
}

.navegacion__github {
    background-color: #8adba0;
    border-radius: 0.5em;
    border: 0.3em groove #35f505;
    color: #FF0000;
    padding: 0.5em;
    text-align: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

